.features {
  text-align: center;
  margin: 0 80px;
  color: white;
}

.features .intro {
  max-width: 900px;
  margin: auto;
}

.features .intro h2 {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 500;
}

.features h1 {
  font-size: 70px;
  font-weight: 400;
  margin-top: 5px;
}

.feature-container {
  display: flex;
  justify-content: space-between;
}

.features .sticky-ip {
  width: 350px;
  position: sticky;
  top: 100px;
  left: 700px;
}

.features .body {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.feature-container > * {
  flex: 1;
  margin: 0 10px;
}

.feature-container img {
  visibility: hidden;
}

.feature-container .feature-first_containter {
  display: flex;
  flex-direction: column;
  gap: 300px;
  justify-content: end;
  text-align: start;
  padding-bottom: 60px;
}
.body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  transition: opacity 0.4s ease;
  opacity: 0;
  z-index: 0;
}

.body.active {
  opacity: 1;
  z-index: 1;
}

@media (max-width: 1280px) {
  .extra {
    display: none;
  }

  .features .intro h1 {
    font-size: 50px;
  }

  .features {
    margin: 100px 20px;
  }
}

@media (max-width: 900px) {
  .feature-container {
    flex-direction: column;
    justify-content: center;
  }
  .feature-container img {
    order: 0;
    visibility: visible;
  }

  .features .sticky-ip {
    display: none;
  }
  .feature-first_containter {
    order: 1;
  }

  .feature-container .feature-first_containter {
    gap: 5px;
    text-align: center;
  }

  .features .intro h1 {
    font-size: 30px;
  }

  .feature-first_containter h2 {
    font-size: 24px;
  }

  .features {
    margin: 100px 10px;
  }
}
