.us_container {
  height: 1500px;
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    to bottom,
    #030201,
    #844822,
    #e79c5b,
    #fef9f2,
    #a6afa7,
    #2d434b
  );
}

.us {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow: hidden;
}

.us h1 {
  font-size: 70px;
  color: white;
  font-weight: 400;
}

.cafe-todo {
  display: flex;
  align-items: end;
  margin: 50px 20px;
  gap: 50px;
}

.ticket {
  position: relative;
  left: 150px;
}

.event-service {
  display: flex;
  align-items: end;
  margin: 50px 20px;
  gap: 30px;
}

.second-container {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.us .middle {
  max-width: 600px;
}

.ml {
  margin-left: auto;
}

.mlp {
  margin-left: auto;
  padding-right: 40px;
}
@media (max-width: 1280px) {
  .us h1 {
    font-size: 50px;
  }
}

@media (max-width: 900px) {
  .us h1 {
    font-size: 30px;
  }

  .us .middle {
    position: absolute;
    width: 200px;
    left: 240px;
  }
  .us .cafe-todo {
    flex-direction: column;
    align-items: start;
  }

  .cafe-todo .t {
    order: 2;
    position: relative;
    right: 50px;
  }

  .cafe-todo .lodging_container {
    order: 1;
  }

  .event-service {
    flex-direction: column;
    align-items: end;
  }

  .second-container {
    width: 400px;
  }

  .second-container .ev {
    position: relative;
    left: 400px;
  }

  .second-container > div {
    position: relative;
    left: 100px;
  }

  .second-container .todo {
    position: relative;
    left: 280px;
  }

  .second-container .serv {
    top: 160px;
  }

  .mlp,
  .ml {
    margin-left: 0;
    padding-right: 0;
  }

  .ticket {
    left: 50px;
    width: 187px;
  }

  .ticket img {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .us .middle {
    position: absolute;
    width: 200px;
    left: 100px;
  }
  .us .cafe-todo {
    flex-direction: column;
    align-items: start;
  }

  .cafe-todo .t {
    order: 2;
    position: relative;
    right: 150px;
  }

  .cafe-todo .lodging_container {
    order: 1;
  }

  .event-service {
    flex-direction: column;
    align-items: end;
    position: relative;
    right: 150px;
  }

  .second-container {
    width: 100px;
  }

  .second-container .ev {
    position: relative;
    left: 100px;
  }

  .second-container > div {
    position: relative;
    left: 0;
  }

  .second-container .todo {
    position: relative;
    left: 0;
  }

  .second-container .serv {
    top: 160px;
  }

  .mlp,
  .ml {
    margin-left: 0;
    padding-right: 0;
  }

  .ticket {
    left: 50px;
    width: 187px;
  }

  .ticket img {
    width: 100%;
  }

  .us_container {
    height: 1000px;
  }
}
