.service {
  background-color: #2626264d;
  border-radius: 42px;
  width: 161px;
  height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service h2 {
  color: white;
  font-size: 20px;
  font-weight: 400;
}

@media (max-width: 900px) {
  .service {
    width: 80px;
    height: 30px;
  }

  .service h2 {
    font-size: 12px;
  }
}
